- content_for(:title, 'Новости')
%h1 Новости
-if admin_signed_in?
	%div.text-center		
		=link_to "Не подтвержденые", {:status => "pending"} , class: "btn btn-large btn-warning"
		=link_to "Подтвержденные", {:status => "approved"} , class: "btn btn-large btn-success"
		=link_to "Откланенные", {:status => "rejected"} , class: "btn btn-large btn-danger"
%ul.articles
	- @articles.each do |article| 
		%ul
			%li 
				%p
					%h4 
						= article.title
				%div.pull-center	
					=image_tag article.name_of_photo.url	
			-if admin_signed_in?		
				%li
					-if article.status == "approved"
						Статус:
						%span.label.label-success 
							%p
								Подтвержденные
					-else
						-if article.status == "pending"
							Статус:
							%span.label.label-warning
								%p
									Не подтвержденые
						-else 
							Статус:
							%span.label.label-important
								%p
									Откланенные
			%li
				%p
					Рейтинг:
					= article.rating
			%li 
				%p
					= article.article_description
			%li
				%div.pull-left
					= link_to 'Детали', article,class: "btn btn-large btn-primary"
				- if current_user!=nil
					- if current_user.id==article.user_id
						= link_to 'delete', article, method: :delete,  data: { confirm: "You sure?" },title: article.title,class: "btn btn-large btn-danger"
-if !@articles.empty?		
	= will_paginate	@articles
%p				
	%div.text-center
		= link_to 'Добавить новость', articles_new_path , class: "btn btn-large btn-primary"
