- content_for(:title, 'Главная')
%div.hero-unit
	%h1 Главная страница факультета прикладной математики и информатики филиала МГУ в городе Савастополь
	%h2 Find your articles or add it.

	- if user_signed_in? 
		%span Здравствуйте,
		= current_user.email 
		= link_to 'Выйти', destroy_user_session_path, :method => :delete , class: "btn btn-large btn-primary"
	- else 
		-if admin_signed_in?
			%span Здравствуйте,
			= current_admin.email 
			= link_to 'Выйти', destroy_admin_session_path, :method => :delete , class: "btn btn-large btn-primary"
		-else
			= link_to 'Sign Up', new_user_registration_path , class: "btn btn-large btn-primary"
%h3 Top articles with best ratings:
%ul.articles
	- @articles.each do |article| 
		%ul
			%li 
				=image_tag article.name_of_photo.url
				%p
				Title: 
				= article.title
			%li
				-if article.status == "approved"
					Status:
					%span.label.label-success 
						%p
							Approved
			%li 
				Room description:
				= article.article_description
			%li
				Rating:
				= article.rating
			
			%li= link_to 'details', article ,class: "btn btn-large btn-primary"

 

  
