- content_for(:title, 'Главная')
%div.hero-unit
	%h1 Главная страница факультета прикладной математики и информатики филиала МГУ в городе Савастополь
	%div.hero-unit.span9.span3
		%h2 
			%p
				Факультет Вычислительной математики и кибернетики (ВМК) Московского государственного университета представлен в Филиале МГУ в г. Севастополе отделением Прикладной математики и информатики.
			%p
				На отделении Прикладной математики и информатики Филиала проводится обучение по специальности 010501 «Прикладная математика и информатика», специализация «Математическое и программное обеспечение вычислительных машин», квалификация – математик, системный программист и c 2011 года — по направлению 010400 «Прикладная математика и информатика», квалификация бакалавр (интегрированный магистр)
			%p	
				Отделение базируется на двух кафедрах: прикладной математики и программирования.	Учебно-методическая работа кафедры программирования Филиала МГУ в г. Севастополе ведётся под патронажем программистских кафедр головных факультетов МГУ имени М.В.Ломоносова. 
			%p
				Студентам читается широкий спектр курсов, связанных с вычислительной техникой и программированием: алгоритмы и алгоритмические языки, архитектура ЭВМ и язык ассемблера, операционные системы, системы программирования, компьютерная графика, суперкомпьютер и параллельные вычисления, базы данных, искусственный интеллект, объектно-ориентированное программирование, сети ЭВМ и безопасность и другие.
			%p	
				Значительное место в подготовке специалистов занимает практическая работа на компьютерах, включая рабочие станции и персональные компьютеры. За время обучения студенты учатся работать в нескольких операционных системах и изучают, как минимум, три языка программирования.
			%p
				За кафедрой программирования закреплены также дисциплины по направлению информатики и информационных технологий других факультетов Филиала.
	%h5
		Суперкомпьютер Ломоносов
		%img(src='/263168.jpg')
	%h5
		Здание ВМК
		%img(src='/6254_63654169.jpg')
%div.hero-unit
	- if user_signed_in? 
		%span Здравствуйте,
			= current_user.email 
			= link_to 'Выйти', destroy_user_session_path, :method => :delete , class: "btn btn-large btn-primary"
	- else 
		-if admin_signed_in?
			%span Здравствуйте,
				= current_admin.email 
				= link_to 'Выйти', destroy_admin_session_path, :method => :delete , class: "btn btn-large btn-primary"
		-else
			%div.pull-right
				= link_to 'Зарегестрироваться', new_user_registration_path , class: "btn btn-large btn-primary"
 

  
