%header.navbar.navbar-fixed-top.navbar-inverse
	%div.navbar-inner	
		.container
		= link_to "Прикладная математика", '/', id: "logo"
		%nav
			%ul.nav.pull-right
				%li= link_to "List",    articles_path
				%li= link_to "Home",    root_path
				%li= link_to "Help",    help_path 

				-if user_signed_in? 
					%li= link_to 'Sign out', destroy_user_session_path, :method => :delete
				-else 
					-if admin_signed_in?
						%li= link_to 'Sign out(admin)', destroy_admin_session_path, :method => :delete
						%li= link_to 'Users', admin_users_path, :method => :get
					-else
						%li= link_to "Sign in", new_user_session_path
				